body {
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 5%;
	background-color: #FCF3CF;
}
#header {
	background-color: #FF5733;
	width: 100%;
	height: 60px;
}
#bol  {
	background-color: #FF5733;
	position: 2px 4px;
	float: left;
	width: 8%;
	height: 16%;
	text-align: center;
	padding: 10px;
}
#name  {
	font-size: 100%;
	background-color: #FF5733;
	color: #7A4D29;
	float: left;
	width: 30%;
	height: 16%;
	text-align: left;
}
#nav  {
	height: 16%;

			}
ul {
		list-style-type: none;
		list-style: none;
		margin-top: 10px;
		font-size: 150%;
		padding: 10px;
		display: block;
		box-sizing: border-box;
		overflow: hidden;
	}

	ul li{
	float: left;
	width: 16%;
	background-color: #6AF3F3;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	border-radius: 15%;
	margin-right:0.7%;
	padding: 0px;
	}

	ul li a{
	text-decoration: none;
	color: yellow;
	font-style:italic;
	display: block;
	}

 ul li a:hover{
				color: blue;
			}
.active {
    background-color: #4CAF50;
	}
.rond2 {
	 		 width: 50px;
	 		 height: 50px;
	 		 border-radius: 25px;
	 			}
}
#container {
	background-color: #FCF3CF;
	width: 1200px;
	height: 620px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
}
#main1  {
    padding: 20px 20px 10px 10px;
    width: 450px;
    height: 600px;
    float: right;
}
#main2 {
	padding: 15px;
	width: 670px;
	float: left;
}
#main3  {
	width: 380px;
	height: 775px;
	float: right;
	background-color: #FF5733;
	padding: 20px;
}
#footer {
	clear: both;
	padding: 10 px;
	background-color: #85929E;
	color: white;
	text-align: right;
	width: 1200px;
	height: 40px;
}
