body {
	background-color: #FCF3CF;
	font-family: Helvetica, Arial, sans-serif;
	height: 620px;
	margin-left: 5%;
}
#header {
	background-color: #FF5733;
	width: 100%;
	height: 30%;
}
#bol  {
	background-color: #FF5733;
	position: 2px 4px;
	float: left;
	width: 8%;
	height: 15%;
	text-align: center;
	padding: 10px;
}
#name  {
	font-size: 100%;
	background-color: #FF5733;
	color: #7A4D29;
	float: left;
	width: 30%;
	height: 15%;
	text-align: left;
}
#nav  {

			}
ul {
		list-style-type: none;
		list-style: none;
		margin-top: 10px;
		font-size: 150%;
		padding: 10px;
		display: block;
		box-sizing: border-box;
		overflow: hidden;
	}

	ul li{
	float: left;
	width: 16%;
	height: 15%;
	background-color: #6AF3F3;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	border-radius: 15%;
	margin-right:0.7%;
	padding: 5px;
	}

	ul li a{
	text-decoration: none;
	color: yellow;
	font-style:italic;
	display: block;
	}

 ul li a:hover{
				color: blue;}
 .active {
		 background-color: #4CAF50;
				}

	.rond2 {
		 width: 50px;
		 height: 50px;
		 border-radius: 25px;
			}

#container {
	background-color: #FCF3CF;
	border-width: 1px;
	width: 1200px;
	height:620px;
	float: left;
	text-align: justify;
	text-indent: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
}
#content0 {
	width: 35%;
	height: 350px;
	font-style: bold;
	font-size: 15px;
	padding: 0px;
	float: left;
	text-align: justify;
}
#content1 {
	width: 55%;
	height: 400px;
	font-style: bold;
	font-size: 15px;
	padding: 0px;
	float: left;
	text-align: justify;
}
#content2  {
    width: 10%;
    height: 290px;
    padding: 10px;
    font-size:25px;
    float: right;
}
#content3 {
	width: 570px;
	height: 380px;
	padding: 10px;
	float: left;
	text-indent: 10px;
	}
#content4 {
	width: 573px;
	height: 440px;
	padding: 10px;
	float: left;
	text-indent: 10px;
}
#content5 {
	width: 1160px;
	height: 440px;
	text-indent: 10px;
	padding: 10px;
	float: left;
}
#content6 {
	width: 1180px;
	height: 100px;
	text-indent: 10px;
	float: left;
}
#footer {
	clear: both;
	padding: 10 px;
	background-color: #85929E;
	color: white;
	text-align: right;
	width: 1200px;
	height: 2cm;
}
